
h1.itt-title, h2.hotline-title{
    text-align: center;
}
body {
    margin-left: 30px;
    margin-right: 30px;
}
div.hotline{
    margin-left: 30px;
    margin-right: 30px;
}

p.helpline{
    margin-left: 30px;
}
