.btn:hover {
    background-color: grey;
}

.btn {
    color: white;
    text-align: center;
    text-decoration: underline;
}

h1, h3 {
    text-align: center;
}

body {
    margin: 30px 50px 30px 50px;
}