body {
    margin: 30px 50px 30px 50px;
    background-color: black;
}

h1, h3, h2 {
    text-align: center;
    color: white;
}

select {
    width: 100px;
    height: 30px;
    font-size: 14pt;
}

table {
    margin: auto;
}

.calc-btn {
    width: 100px;
    background-color: black;
    color: white;
}


.fact-btn, .space {
    width: 100px;

}

.fact-btn {
    background-color: black;
    color: white;
}

.fact-display {
    width: 300px
}

.calc-form {
    background-color: white;
    width: 500px;
    margin: auto;
}

.fact-form {
    background-color: white;
    width: 350px;
    margin: auto;
}

.calc-display {
    width: 400px;
    cursor: not-allowed;
    background-color: black;
    color: white;
}

.fact-display {
    background-color: black;
    color: white;
}